.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}
.navHeader{
  display: flex;
}
.paginator {
  margin-left: 35%;
}
.alertImg{
  max-width: 100px;
  max-height: 100px;
  width: fit-content;
  margin-left: 15%;
}

.searchClient {
  border: none !important;
  outline: none !important;
  border-radius: 0px !important;
  margin-top: 20px;
  background-color: #2095f3 !important;
  color: white !important;
  box-shadow: 0px 10px 11px -3px rgba(0, 0, 0, 0.37);
}

.searchClient:focus {
  box-shadow: 0px 10px 11px -3px rgba(0, 0, 0, 0.37);
}

.searchClient::placeholder { color: white !important; }

.list {
  display: flex;
  margin-top: 15px;
}

.actionImg{
  max-width: 22px;
  max-height: 22px;
}
.msgError{
    margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.editClient{
  float: right;
    padding-right: 30px;
}


.App-link {
  color: #61dafb;
}

.plusIcon {
  height: 40px;
  float: right;
  border-radius: 50%;
  box-shadow: 0px 5px 11px -1px rgba(0,0,0,0.75);
}
.sub-title{
  color: #2095f3;
  padding: 15px 17px 8px 17px
}
.create-buttons{
  width: fit-content;
  margin: 18px auto;
  float: right;
}
.save-button{
  min-width: 80px;
}


.test::before {
  content: url('./public/img/search.svg');
  position: absolute;
  background-color: #2095f3;
  width: 20px;
  height: 20px;
}



.userCpf {
  font-size: 12px;
  display: flex;
  padding-left: 5px;
  color: gray;
}
.labelForm{
  margin-bottom: 0!important;
}
.fintech{
  margin-top: 22px;
}

.addInput {
  margin-top: 10px;
}

